{% load static %}
<!DOCTYPE html>
<html>
<title>site</title>
<script src="{% static 'myfirst.js' %}"></script>
<link rel="stylesheet" href="{% static 'myfirst.css' %}">
<body>
<div id="nav">
        <a href="https://murkosha.ru/kak-eto-proiskhodit">Home</a>
        <a href="https://murkosha.ru/adress-i-telefon">Contact</a>
        <a href="https://murkosha.ru/otzyvy">Review</a>
</div>
<h1>Добро пожаловать в клуб кошатников!</h1>
<img alt="Qries" src="https://www.pngkey.com/png/full/7-74109_kitten-png-images-free-download-pngmart-com-kitten.png">
<button id="btn" onclick="myFunction()">Click me!</button>
<div id="text">
<h2>Почему вы должны завести кошку?</h2>
<p>1)Кошка, встречающая вас дома и <br>мурлыкающая на коленях по вечерам, — <br>отличный способ снизить <br> уровень ежедневного стресса.</p>
<p>2)коты пробуждают интерес к окружающим людям <br>и улучшают способности к общению. <br>Хороший план не только для малышей-аутистов,<br> но и для всех, кто страдает от <br>собственных замкнутости и стеснительности.
</p>
<p>3)Исследования подтверждают,<br> что владельцы кошек в среднем имеют<br> более высокий коэффициент интеллекта</p>
</div>
<h2 id="text2">Ну и напоследок</h2>
<img id="img1" alt="Qries" src="https://freepngimg.com/save/169113-kitten-free-download-png-hq/1520x934">
<img id="img2" alt="Qries" src="https://purepng.com/public/uploads/large/51502308190ywg3xhop2e1u94ebcskyi25hrgeulctsuiw8g47ix8ok1w14mfxodwoq2gi80jzib2nrc9wanirro49nakdq3pgz2qcufshojrjc.png">
<img id="img3" alt="Qries" src="https://www.picng.com/upload/cat/png_cat_491.png">
<img id="img4"  alt="Qries" src="https://images.ctfassets.net/7ybtdzdgha5d/ArwJcmlYX4XKMoCc2nx9q/8d0450bd5d0679eaf395e06a99d11d7d/shutterstock_1154398750_1__5_.png?w=526&h=746&q=65&fm=png">
</body>
</html>